* {
  padding: 0px;
  margin: 0px;
}

body {
  h3 {
    text-align: center;
    font-style: italic;
    color: gray;
    font-size: 12px;
  }
  h2 {
    display: flex;
    justify-content: center;
    color: blueviolet;
    text-transform: uppercase;
  }
  h6{
    font-size: 10px;
    color: gray;
    font-style: italic;
  }
}
.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-items: center;
  width: 90%;
  align-items: center;
  place-self: center;
  margin-bottom: 20%;

  img {
    width: 50%;
    margin: 10px;
  }

  section {
    border: 1px solid black;
    justify-items: center;
    padding: 20px;
    border-radius: 20px;

    p {
      display: flex;
      font-size: small;
      padding: 20px;
    }

    button {
      padding: 12px;
      margin-top: 25px;
    }
  }
}
.article1 {
  width: 50%;
  display: flex;

  p {
    display: flex;
    align-content: center;
    flex-direction: column;
    font-size: 12px;
  }
}

.softskill {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.carded {
  border: 1px solid black;
  width: 50%;

  div {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 14px;

    div {
      border: 1px solid black;
      border-radius: 20px;
      display: flex;
      width: 31%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 200px;
      box-shadow: 4px 4px 5px 0px black;
    }

    p {
      display: flex;
      font-size: 18px;
      padding: 5px;
    }

    img {
      display: flex;
      width: 50%;
      
    }
  }
}

#AProposDeMoi {
  display: flex;
  flex-direction: row;
  align-items: center;
}
